.shop-header {
   border-bottom: 1px solid #e5e5e5;
   margin-bottom: 1rem;
   display: flex;
   justify-content: space-between; 
}

.shop-header .logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.shop-header .shopping-card {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 400;
    padding-right: 1rem;
}